<footer>
    <section class="nuestra__info">
      <div class="informacion__contacto">
        <h3>institute Jesus en el huerto de los olivos</h3>
        <p>r.Gutierrez 1199, Olivos</p>
        <p>4790-5772</p>
        <button>Inscripciones</button>
        <a href="#">amdinistracion@gejho.org</a>
      </div>
      <div class="comunidad">
        <h3>Unite a la Comunidad</h3>
        <a href="http://"
          ><img src="./img/logotipo-de-instagram.png" alt="" /> Instagram</a
        >
        <a href="http://"><img src="./img/youtube.png" alt="" />youtube</a>
      </div>
      <div class="unirse_al_Gejho">
        <h3>
          ¿queres formar parte del instituto Jesus en el huerto de los olivos?
        </h3>
        <button>envianos tu cv</button>
      </div>
    </section>
    <div class="intranet">
      <p>Este Instituto pertenece al:</p>
      <img src="./img/grupo_educativo.jpg" alt="" />
      <button>intranet</button>
    </div>
  </footer>