<header class="navbar">
    <div class="navbar__img">
      <img src="./img/jho_img.png" alt="Logo del instituto" />
    </div>
    <div class="navbar_complete">
      <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="menu-icon">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </label>
      <ul class="navbar__list">
        <li class="navbar__item">Inscripciones</li>
        <li class="navbar__item">Nosotros</li>
        <li class="navbar__item">Maternal e Inicial</li>
        <li class="navbar__item">Primaria</li>
        <li class="navbar__item">Secundaria</li>
        <li class="navbar__item">Pastoral</li>
        <li class="navbar__item">Deportes</li>
        <li class="navbar__item">Idiomas</li>
        <li class="navbar__item">Comunidad</li>
      </ul>
    </div>
  </header> 