<header class="navbar">
    <div class="navbar__img">
      <a href="index.html"><img src="./img/jho_img.png" alt="Logo del instituto" /></a>
    </div>
    <div class="navbar_complete">
      <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="menu-icon">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </label>
      <ul class="navbar__list">
        <a href="inscripciones.html"><li class="navbar__item">Inscripciones</li></a>
        <a href=""><li class="navbar__item">Nosotros</li></a>
        <a href=""><li class="navbar__item">Maternal e Inicial</li></a>
        <a href=""><li class="navbar__item">Primaria</li></a>
        <a href="secundaria.html"><li class="navbar__item">Secundaria</li></a>
        <a href=""><li class="navbar__item">Pastoral</li></a>
        <a href=""><li class="navbar__item">Deportes</li></a>
        <a href=""><li class="navbar__item">Idiomas</li></a>
        <a href=""><li class="navbar__item">Comunidad</li></a>
      </ul>
    </div>
  </header> 